  body{font-family: 'Courgette', cursive;
       color: white;
       margin:0;
       padding:0;
       box-sizing:border-box ;
       background: linear-gradient(to right, #5D3FD3, #FF69B4 100%);       background-image:url(https://dl.dropbox.com/s/egvnhx0p22kdw2d/5397d5e66e23cb3fa545da828498e2ff.jpg);
       height:100vh;
       }
       
       h2{
       text-align:center;
       text-shadow:5px 2px 5px black;
       font-size:48px;
       padding:0px;
       text-decoration-line:underline ;
       text-decoration-style:dotted;
       }
       
       
       .a{
          height:100vh;
       }
       
       .b{
           display:flex;
           justify-content:center;
           align-items:center;
           height:inherit 
       }
       
       .c{
       position: absolute;
       display: flex;
       justify-content: center;
       align-items: center;
       top: 0;
       width: 100%;
       height: 100%;
       }
.d {
  height:450px;
  width:333px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1.40);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius:20px;
  border-bottom:0.5px solid white;
  border-right:0.5px solid white;
  }
  
 form{
     font-family: 'Great Vibes', cursive;
     text-shadow:1px 1px 5px black;
     font-size:25px;
     padding:0
 }
 
 input[type=text],
            input[type=password],
            input[type=email]{
     border:none;
     background:none;
     border-bottom:1px solid white;
     font-family:'Courgette', cursive;
     color:white;
     font-size:20px;
     width:250px;
     text-shadow:1px 1px 5px black;
 }
 
 input[type=submit]{
     border:none;
     background-color:rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
     width:150px;
     height:40px;
     font-family:'Great Vibes', cursive;
     color:white;
     font-size:25px;
     border-radius:10px;
     padding-top:5px;
     border:0.2px solid white;
     text-shadow:1px 1px 5px black;
     }
